.mashete {
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    margin-bottom: 0px;
    padding-top: 15px;
}

.mashete-bar {
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-bottom-width: 1px;
}

.pushTop {
    padding-top: 10px;
}

.pushTop20 {
    padding-top: 20px;
}

.pushTop30 {
    padding-top: 30px;
}

iframe {
    border: none;
    padding-top: 10px;
}

.draggedon {
    height: 80px;
    border: 1px dotted #333333;
    /*background-color: #ffff99;*/
    background-color: rgb(231, 231, 231);
}
.droppable {
    height: 20px;
}

.largeText {
    width: 100%;
    height: 200px;
}

.centeredText {
    text-align: center;
}

.tools {
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.task-done {
    cursor: pointer;
}