@(user: modules.identity.User, page: modules.structure.Page)

@main(page.name, user, page) {

    <h1>@page.name</h1>

    <div class="row">
        <div class="col-md-6" id="left">
            <div class="row droppable"></div>
            @for(i <- 1 to 100) {
                <div class="row"><div class="col-md-12 draggable" id="left-@i" draggable="true" ondragover="event.preventDefault();"></div></div>
                <div class="row droppable" id="dropzone-@i"></div>
            }
        </div>
        <div class="col-md-6" id="right">
            <div class="row droppable"></div>
            @for(i <- 1 to 100) {
                <div class="row"><div class="col-md-12 draggable" id="right-@i" draggable="true" ondragover="event.preventDefault();"></div></div>
                <div class="row droppable" id="dropzone-@i"></div>
            }
        </div>
    </div>

}
