@(portalName: String, service: String, user: modules.identity.User, page: modules.structure.Page, mashetes: Seq[modules.structure.Mashete], subTree: Html, roles: Seq[modules.identity.Role])

@main(page.name, portalName, service, user, page, mashetes, subTree, roles) {

    <div class="row portal-row">
        @page.colSizes.zipWithIndex.map {
            case (column, index) => {
                <div class="col-md-@column mashete-column" data-colpos="@index" id="col-@index">
                    <div class="row droppable" data-pos="start"></div>
                    @page.mashetes.filter(_.position.column == index).sortBy(_.position.line).map { instance =>
                        <div id="mashete-@instance.id"></div>
                    }
                </div>
            }
        }
    </div>
}
