@(user: modules.identity.User, page: modules.structure.Page)

@main(page.name, user, page) {

    <h1>@page.name</h1>

    <div class="row">
        <div class="col-md-6" id="left">
            @for(i <- 1 to 100) {
                <div class="row"><div class="col-md-12" id="left-@i"></div></div>
            }
        </div>
        <div class="col-md-6" id="right">
            @for(i <- 1 to 100) {
                <div class="row"><div class="col-md-12" id="right-@i"></div></div>
            }
        </div>
    </div>

}
