@(title: String, portalName: String, user: modules.identity.User, page: modules.structure.Page, mashetes: Seq[modules.structure.Mashete], subTree: Html, roles: Seq[modules.identity.Role])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

    <body>
        <div id="mainNavBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index">@portalName</a>

                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        @subTree
                    </ul>

                    @user match {
                        case modules.identity.AnonymousUser => {
                            <div class="pull-right">
                                <form class="navbar-form navbar-right" action="/login" method="POST" role="form">
                                    <button type="submit" class="btn btn-success">Log in</button>
                                </form>
                            </div>
                        }
                        case _ => {
                            @* TODO : portal config *@
                            <div class="pull-right">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> Mashetes <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            @for(mashete <- mashetes) {
                                                <li><a class="addmashete" href="#" data-mid="@mashete._id" data-conf="@(org.apache.commons.codec.binary.Base64.encodeBase64String(play.api.libs.json.Json.stringify(mashete.defaultParam).getBytes()))">@mashete.name</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a id="addNewPage" href="#"><span class="glyphicon glyphicon-plus-sign"></span> Page</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Portal</a></li>
                                </ul>

                                <form class="navbar-form navbar-right" action="/logout" method="POST" role="form">
                                    <button type="button" id="delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                    @* TODO : link to account and user icon *@
                                    &nbsp;&nbsp;<a href="#" id="userinfo" style="color : white"></a>&nbsp;&nbsp;
                                    <img id="useravatar" src=""/>
                                    <button type="submit" class="btn btn-danger">Log out</button>
                                    <button type="button" id="reset" class="btn btn-danger">Reset</button>
                                    @* <button type="button" id="showCss" class="btn btn-inverse">CSS</button> *@
                                </form>
                            </div>
                        }
                    }
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div class="container" style="margin-top: 60px">
            @content
            <hr>
            <footer>
                <p>© Machete 2014</p>
            </footer>
        </div> <!-- /container -->

        <div class="modal fade" id="addPageModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Create page</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" required class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDescription" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUrl" class="col-sm-2 control-label">URL</label>
                                <div class="col-sm-10">
                                    <input type="text" pattern="[0-9a-zA-Z]*" required class="form-control" id="inputUrl" placeholder="URL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRole" class="col-sm-2 control-label">Roles</label>
                                <div class="col-sm-10">
                                    <select multiple required class="form-control" id="inputRole">
                                        @for(role <- roles) {
                                            <option value="@role._id">@role.name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="createPage" class="btn btn-primary">Create page</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script src="@routes.Assets.at("javascripts/cssdebug.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/q.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/jquery-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/sugar-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/backbone-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/react-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/showdown-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/notify.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/communication.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/Identity.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/http.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/eventbus.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/structure.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/mashetes/build/mashete.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mashetes/build/fallback.js")" type="text/javascript"></script>

        @for(mashete <- mashetes.toSet[modules.structure.Mashete]) {
            @if(mashete.url.contains("${ASSET}")) {
                <script src="@routes.Assets.at(mashete.url.replace("${ASSET}", ""))" type="text/javascript"></script>
            } else {
                <script src="@mashete.url" type="text/javascript"></script>
            }
        }

        <script src="@routes.Assets.at("javascripts/ui/init.js")" type="text/javascript"></script>

        <script type="text/javascript">
            $(function() {
                $('#showCss' ).click(function(e) {
                    e.preventDefault();
                    displayCssFrames();
                });
                $('#addNewPage' ).click(function(e) {
                    e.preventDefault();
                    $('#addPageModal').modal('show');
                });
                $('#createPage' ).click(function(e) {
                    e.preventDefault();
                    var roles = [];
                    $('#inputRole option:selected').each(function() {
                        roles.push($(this ).val());
                    });
                    portal.Structure.createPage({
                        name: $('#inputName' ).val(),
                        description: $('#inputDescription').val(),
                        url: $('#inputUrl').val(),
                        accessibleByIds: roles
                    });
                });
                $('#delete').click(function(e) {
                    e.preventDefault();
                    portal.Structure.deleteCurrentPage();
                });
                $('#reset').click(function(e) {
                    e.preventDefault();
                    $.post('/private/firstimeindex', function() {
                        window.location.href = "/";
                    });
                });
            })
        </script>
    </body>
</html>
