@(title: String, user: modules.identity.User, page: modules.structure.Page)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index">Portal</a>

                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                    @user match {
                        case modules.identity.AnonymousUser => {
                            <form class="navbar-form navbar-right" action="/login" method="POST" role="form">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">Log in</button>
                            </form>
                        }
                        case _ => {
                            @* TODO : add mashete *@
                            @* TODO : portal config *@
                            <form class="navbar-form navbar-right" action="/logout" method="POST" role="form">
                                @* TODO : link to account and user icon *@
                                <label id="userinfo" style="color : white"></label>
                                <button type="submit" class="btn btn-danger">Log out</button>
                            </form>
                        }
                    }
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div class="container" style="margin-top: 60px">
            @content
            <hr>
            <footer>
                <p>© Company 2014</p>
            </footer>
        </div> <!-- /container -->

        <script type="text/javascript">
            var portal = portal || {};
            portal.Location = portal.Location || {};
            portal.User = portal.User || {};
            portal.Location.current = portal.Location.current || @Html(page.toJsonString);
            portal.User.current = portal.User.current || @Html(user.toJsonString);
            portal.User.current.isAdmin = function() {
                return ! _.isUndefined(_.find(portal.User.current.roles, function(role) { return role.name === "ADMINISTRATOR"; }));
            };
            portal.User.current.isNotAdmin = function() {
                return !portal.User.current.isAdmin();
            };
        </script>

        <script src="@routes.Assets.at("javascripts/thirdparty/q.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/jquery-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/sugar-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/react-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/thirdparty/react-jsxtransformer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/communication.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/identity.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/http.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/eventbus.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/userrights.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/api/structure.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/mashetes/mashete.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/mashetes/links.js")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/mashetes/iframe.js")" type="text/jsx"></script>

        <script src="@routes.Assets.at("javascripts/ui/init.js")" type="text/javascript"></script>
    </body>
</html>
